#canvas-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
}
#wcontainer {
    position:absolute;
    overflow: hidden;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    user-select: none;
	pointer-events: none;
}

/* Styles for MemoryName */
.memory-title{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6em;
    margin-top: 2.5em;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    user-select: none;
	pointer-events: none;
}
#main-name {
    color:rgb(216, 216, 216);
    font-family: "Archivo Black", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size:4rem;
    margin-bottom: -4%;
}
#secondary-name {
    color: transparent;
    font-family: "Archivo Black", sans-serif;
    -webkit-text-stroke: 2px rgb(216, 216, 216);
    font-size: 3rem;
}

/* Styles for AddButton */
.btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-right: 80px;
    position: fixed;
    bottom:0;
    right:0;
}    
#addbtn {
    border-radius: 100%;
    width:7rem;
    height:7rem ;
    font-size: 5em;
    transition: 0.2s;
    background-color: rgb(216, 216, 216);
}
#addbtn:hover {
    width: 8rem;
    height: 8rem;
    background-color: white;
}

#addbtn:active {
    width: 6rem;
    height: 6rem;
    background-color: rgb(154, 154, 154);
}

/* Styles for Arrows */
/* From Uiverse.io by Nawsome */ 
.arrow1 {
  cursor: pointer;
  height: 60px;
  left: 90%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
}
.arrow2 {
  cursor: pointer;
  height: 60px;
  left: 10%;
  position: absolute;
  top: 47%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
  transform: scale(-1,1);
}

.arrow-top, .arrow-bottom {
  background-color: #aaaaaa;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
