@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans+JP:wght@100..900&family=Story+Script&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url('Fonts/Booter - Zero Zero.woff') format("woff"),
    url('Fonts/Booter - Zero\ Zero.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777
}

/* HEADER STYLING */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(225, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid grba(255, 255, 255, .3);
    transition:
    transform 0.5s ease,
    margin-top 1s ease;
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("Resources/header_img.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position-x: center;
    padding: 2em;
    transition: background-color 0.3s ease;
}

.band-name-container {
    display: flex;
    justify-content: center;
}

.band-name {
    display: inline-block;
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
    transition: all 0.5s ease;
}

/* IF HOVER ON HEADER, CHANGE TITLE + MAIN-NAV + SUBTITLE ANIM */


.main-header:hover {
    background-color: rgba(0, 0, 0, .8);
}

.main-header:hover .band-name-large {
    margin-top: 0.5em;
    transform: scale(1.5);
}

.main-header:hover .main-nav {
    margin-top: 1em;
    transform: scale(1.3);
}

.main-header:hover .subtitle-anim {
    opacity: 1;
    max-height: 9em;
    margin-bottom: 5em;
}


.subtitle-anim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.jp-name {
    color: rgb(255, 255, 255, 0.85);
    font-family: "Noto Sans JP";
    font-weight: normal;
    font-size: 2em;
    font-weight: 600;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}

.header-quote {
    color: rgb(255, 255, 255, 0.6);
    font-family: "Noto Sans JP";
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 0.3em;
    font-style: italic;
}



.btn-header:hover {
    transform: scale(1.3);
}

/* BODY STYLING OF ABOUT PAGE */
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "DM Serif Text";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em
}

.about-band-img {
    float: left;
    height: auto;
    width: 200px;
    margin: 20px;
    border-radius: 0.6em;
}

.about-band-img2 {
    float: right;
    height:300px;
    width: auto;
    margin: 15px;
    border-radius: 0.6em;
}

/* FOOTER STYLING */
.main-footer {
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(245, 107, 107));
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.band-name-footer {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.band-name-footer:hover {
    transform: scale(1.2);
    text-shadow: 0em -0.1em rgba(0, 0, 0, .6);
}

/* INDEX PAGE STYLING */

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,2);
}

.btn:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    opacity: 0.8;
}

.header-btn-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.btn-header {
    border-radius: 8px;
    border: none;
    background-color: rgb(174, 7, 7);
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Merienda';
    font-size: 1.2em;
    transition: all 0.3s ease;
}


.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    transition: all 0.3s ease;
}

.tour-row:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, .3);
}

.tour-item {
    display: inline-block;
    padding-right: .5em;

}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    border-radius: 10px;
    border: 0.2px solid black;
    font-size: 0.7em;
    padding: 0.7em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .2);
    transition: all 0.3s ease;
    color: black;
    cursor: pointer;
}

.btn-primary:hover {
    box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .2);
    transform: scale(1.2);
    background-color: rgb(205, 61, 61);
    border: 0.2px solid white;
    color: white;
}

/* Styling Store Page Content */
.shop-item {
    border: 0.5px solid black;
    border-radius: 1em;
    margin: 30px;
    transition: all 0.5s ease;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.shop-item:hover {
    transform: translateY(-0.5em);
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, .2);
}


.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Booter - Zero Zero";
    font-style: italic;
}

.shop-item-image {
    height: 250px;
    border-radius: 0.7em;
}


.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-item-button {
    margin-right: 0.4em;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* CARTS */
.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px; 
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: .5px solid black;
    background-color: rgba(255, 255, 255, 0.829);
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-quantity-button {
    border-radius: 10px;
    border: 0.2px solid black;
    font-size: 0.7em;
    padding: 0.7em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .2);
    transition: all 0.3s ease;
    color: black;
    cursor: pointer;
    
}

.cart-quantity-button:hover {
    box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .2);
    transform: scale(1.2);
    background-color: rgb(0, 0, 0);
    border: 0.2px solid white;
    color: white;
}

.cart-total {
    text-align: end;
    margin-top: .5em;
    margin-right: .5em;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 4em;
    text-align: center;
}

.btn-purchase:hover {
    transform: scale(1.5);
    background-color: rgb(19, 194, 19);
    margin: 2em auto;
}
